[importlinter]
root_package = django2pydantic
include_external_packages = True


[importlinter:contract:layers]
name = Lower layers shall not import from higher layers
type = layers

containers =
  django2pydantic

layers =
  handlers
  registry
  schema

ignore_imports =
  django2pydantic.registry -> django2pydantic.handlers.base


[importlinter:contract:tests-restrictions]
name = Source code shall not import anything from tests
type = forbidden

source_modules =
  django2pydantic

forbidden_modules =
  tests


[importlinter:contract:independence-contract]
name = Handlers shall be independent
type = independence
modules =
    django2pydantic.handlers.auto
    django2pydantic.handlers.base
    django2pydantic.handlers.boolean
    django2pydantic.handlers.file
    django2pydantic.handlers.json
    django2pydantic.handlers.network
    django2pydantic.handlers.numbers
    django2pydantic.handlers.property
    django2pydantic.handlers.relational
    django2pydantic.handlers.text
    django2pydantic.handlers.time
ignore_imports =
    django2pydantic.handlers.* -> django2pydantic.handlers.base
    django2pydantic.handlers.relational -> django2pydantic.registry
    django2pydantic.registry -> django2pydantic.handlers.base
